.site-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--icon-color);
  display: inline-flex;
  flex: 0 0 auto;
  &-lg {
    @extend .site-icon;
    --icon-size : 4em;
  }
  &-rounded {
    --size: 2.5em;
    background: var(--icon-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    flex: 0 0 auto;
    border-radius: 100%;
    transition: background-color var(--transition), color var(--transition);
    &:hover,
    a:hover & {
      color: var(--color-white);
      background: var(--color-primary);
    }
  }
}
