@use "sass:map";

//Colors
$color-primary: #f1663a;
$color-dark: #31414f;
$color-gray: #c8c8c8;
$color-gray-blue: #dee8ee;
$color-surface: #dee8ee;

//Bootstrap
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: 2.25em,
  6: 3.125em,
  7: clamp-smart(2.5rem, 6rem)
);

$grid-gutter-width: map.get($spacers, 4);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$container-width: 1620px;
